<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="eltoraz.pug.android"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <uses-sdk android:minSdkVersion="10" />

    <application
        android:icon="@drawable/appicon"
        android:label="@string/app_name" >
        <uses-library android:name="com.google.android.maps" />

        <activity
            android:label="@string/app_name"
            android:name=".PugAndroidActivity" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:label="@string/create_label"
            android:name=".CreateGameActivity" />
        <activity
            android:label="@string/search_label"
            android:name=".SearchGameActivity" />
        <activity
            android:label="@string/profile_label"
            android:name=".ProfileActivity" />
        <activity
            android:label="@string/profile_joinedgames_label"
            android:name=".ProfileJoinedGamesActivity" />
        <activity
            android:label="@string/list_label"
            android:name=".ListGameActivity" />
        <activity
            android:label="@string/app_name"
            android:name=".ProfileTabWidget"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:label="@string/edit_label"
            android:name=".EditGameActivity" />
    </application>

</manifest>